@font-face {
  font-family: SusaLight;
  src: url("../fonts/Susa-Light.otf");
}

header {
  background-image: url("../img/overlay-background.jpg");
}

h1 {
  font-family: SusaLight;
  font-size: 3.125em;
}

ul>li {
  font-family: OpenSans;
  font-weight: 300;
}